node_modules/**
web/node_modules/**

src/**
web/src/**
**/*.ts
**/*.tsx
**/*.map

**/tsconfig*.json
**/tailwind.config.js
**/eslint.config.js
**/.gitignore
**/package-lock.json
web/package.json

!dist/**
!web/dist/**
!assets/**
!LICENSE.md
!README.md
!CHANGELOG.md
!package.json
!web/dist/**/*.d.ts
!dist/**/*.d.ts