.app {
  position: relative;
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 7fr 2fr;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
}

.app__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__stages {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  padding-bottom: 10px;
}
