.app {
  position: relative;
  display: grid;
  grid-template-rows: 1.5fr 7fr 1.5fr;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
}

.app__show-dependencies-button {
  align-self: flex-start;
}

.app__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: color-mix(
    in srgb,
    var(--vscode-editor-background) 90%,
    black
  );
}

.app__stages {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  padding-bottom: 10px;
  margin: 0 auto;
}
