.app__footer {
  display: grid;
  grid-template-columns: 5fr 5fr;
  transition: all 0.3s ease;
  min-height: 220px;
  max-height: 220px;
  overflow: hidden;
  background-color: color-mix(
    in srgb,
    var(--vscode-editor-background) 90%,
    black
  );
}

.app__footer-job-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
}

.app__footer-job-info-list {
  margin-left: 20px;
}

.app__footer-rules ul {
  margin-left: 30px;
}

.app__footer-errors {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  transition: all 0.3s ease;
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
}

.app__footer-errors div {
  border: 1px solid
    var(--vscode-inputValidation-errorBorder, var(--vscode-errorForeground));
  background-color: color-mix(
    in srgb,
    var(--vscode-editor-background) 90%,
    white
  );
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.app__footer-errors-keyword {
  text-decoration: underline;
}
