.stage-column {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 2px solid
    color-mix(in srgb, var(--vscode-editor-background) 90%, black);
  border-radius: 8px;
}
